body {
  min-height: 100vh;
  background-color: whitesmoke;
}

#root {
  height: 100%;
}

#to_do_task_list {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.to_do_task_card {
  width: auto;
  margin: 1em;
  box-shadow: 1px 1px 3px rgb(92, 92, 92)!important;
}

/** Task>Header **/
.card_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/** Task>Header>Title **/
.card_title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 75%;
}

.status_to_do,
.status_progress,
.status_done {
  padding: 1px;
  background-color: black;
  color: white;
}

/** Task>Header>Bar **/